.call-us-box {
    background-color: #573398;
}
ul.nav.green > li > a.active {
    color: #573398;
}
ul.nav.green > li > a.active:hover {
    color: #573398;
}
.navbar-default.green .navbar-nav > li > a:focus, .navbar-default.green .navbar-nav > li > a:hover {
    color: #573398;
}
.ms-layer.sbut13 {
    background-color: #573398;
}
.property-search {
    background-color: #573398;
}
.feature-box-65 .iconbox-xtiny {
    border: 1px solid #573398;
    color: #573398;
}
.title-line-4.green {
    background-color: #573398;
}
.feature-box-66 .image-holder .status {
    background-color: #573398;
}
.slide-nextprev-but-1 .owl-theme .owl-controls .owl-buttons div {
    background-color: #573398;
}
.section-green-2 {
    background-color: #573398;
}
.tabs11 li a:hover {
    background-color: #573398;
}
.tabs11 li.active a {
    background-color: #573398;
    border-right: 1px solid #573398;
}
.text-green-3 {
    color: #573398;
}
.team-holder13 .img-holder .icon-box {
    background-color: #573398;
}
.feature-box53 .post-date-box.green-3 {
    background-color: #573398;
}
.slide-controls-color-4 .owl-theme .owl-controls .owl-page span {
    background-color: #573398;
}
.section-green-3 {
    background-color: #573398;
}
.scrollup.green-3 {
    background-color: #573398;
}
.usefull-links.yellow li i {
    color: #573398;
}

.cbp-l-filters-button.style-4 .cbp-filter-item.cbp-filter-item-active {
    background-color: #573398;
    border-color: #573398;
}
.cbp-l-filters-button.style-4 .cbp-filter-item {
    border: 1px solid #573398;
	color: #573398;
}
.cbp-l-filters-button.style-4 .cbp-filter-counter::before {
    border-top: 4px solid #573398;
}
.cbp-l-filters-button.style-4 .cbp-filter-counter {
    background-color: #573398;
}
.smart-forms .btn-primary.green {
    background-color: #573398;
}
