<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--<![endif]-->
<html lang="en">

<head>
  <title>Capstone Project</title>
  <meta charset="utf-8">
  <!-- Meta -->
  <meta name="keywords" content="" />
  <meta name="author" content="">
  <meta name="robots" content="" />
  <meta name="description" content="" />

  <!-- this styles only adds some repairs on idevices  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/images/favicon.png">

  <!-- Google fonts - witch you want to use - (rest you can just remove) -->
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'
    type='text/css'>

  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- Stylesheets -->
  <link rel="stylesheet" media="screen" href="static/js/bootstrap/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="static/js/mainmenu/menu.css" type="text/css" />
  <link rel="stylesheet" href="static/css/default.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layouts.css" type="text/css" />
  <link rel="stylesheet" href="static/css/shortcodes.css" type="text/css" />
  <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="static/css/responsive-leyouts.css" type="text/css" />
  <link rel="stylesheet" href="static/js/masterslider/style/masterslider.css" />
  <link rel="stylesheet" type="text/css" href="static/css/Simple-Line-Icons-Webfont/simple-line-icons.css"
    media="screen" />
  <link rel="stylesheet" href="static/css/et-line-font/et-line-font.css">
  <link href="static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="static/js/jFlickrFeed/style.css" />
  <link rel="stylesheet" type="text/css" href="static/js/tabs/assets/css/responsive-tabs.css">


  <!-- Remove the below comments to use your color option -->
  <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
  <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
  <!--<link rel="stylesheet" href="css/colors/green.css" />-->
  <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
  <!--<link rel="stylesheet" href="css/colors/red.css" />-->
  <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
  <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
  <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
  <!--<link rel="stylesheet" href="css/colors/violet.css" />-->
  <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
  <!--<link rel="stylesheet" href="css/colors/mossgreen.css" />-->

</head>

<body>
  <div class="site_wrapper">


    <div class="clearfix"></div>
    <div id="header">
      <div class="container">
        <div class="navbar green navbar-default yamm">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
              class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                class="icon-bar"></span></button>
            <a href="/" class="navbar-brand"><img src="/static/images/logo.png" alt="" /></a> </div>
          <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-left">

            <ul class="nav green navbar-nav">
              <li><a href="/" class="dropdown-toggle active">Home</a></li>
              <li><a href="properties" class="dropdown-toggle">Properties</a></li>
              <li><a href="jobs" class="dropdown-toggle">Jobs</a></li>
              <li><a href="agents" class="dropdown-toggle">Agents</a></li>
              <li><a href="contact.html" class="dropdown-toggle">Contact</a></li>
            </ul>
          </div>
          <ul id="action-buttons" class="toplist toppadding">
            <li class="last" style="margin-top: 10px;"><span class="call-us-box"><a id="login-bar" href="/login"
                  style="color: white;">Login</a></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!--end menu-->
    <div class="clearfix"></div>

    <!-- masterslider -->
    <!-- <div class="master-slider ms-skin-default" id="masterslider"> 
    
    <!-- slide 1 -->
    <!-- <div class="ms-slide slide-1" data-delay="9">
      <div class="slide-pattern"></div>
      
      <img src="static/js/masterslider/blank.gif" data-src="http://placehold.it/1920x660" alt=""/>
      
      <h3 class="ms-layer text34"
			style="top: 210px;"
			data-type="text"
			data-delay="500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> find the property of your dreams</h3>
            
      <h3 class="ms-layer text6"
        	style="top: 260px;"
            data-type="text"
            data-effect="top(45)"
            data-duration="2000"
            data-delay="1500"
            data-ease="easeOutExpo"> Lorem ipsum dolor sit amet consectetuer adipiscing elit<br/>
        Suspendisse et justo 
        Praesent mattis commodo augue Aliquam ornare. </h3>
        
      <a class="ms-layer sbut13"
			style="left: 730px; top: 340px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Read More </a> 
            
            </div>
    end slide 1 -->

    <!-- slide 2 -->
    <!-- <div class="ms-slide slide-2" data-delay="9">
      <div class="slide-pattern"></div>
      
      <img src="static/js/masterslider/blank.gif" data-src="http://placehold.it/1920x660" alt=""/>
      
      <h3 class="ms-layer text34"
			style="top: 210px;"
			data-type="text"
			data-delay="500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> find the property of your dreams</h3>
            
      <h3 class="ms-layer text6"
        	style="top: 260px;"
            data-type="text"
            data-effect="top(45)"
            data-duration="2000"
            data-delay="1500"
            data-ease="easeOutExpo"> Lorem ipsum dolor sit amet consectetuer adipiscing elit<br/>
        Suspendisse et justo 
        Praesent mattis commodo augue Aliquam ornare. </h3>
        
      <a class="ms-layer sbut13"
			style="left: 730px; top: 340px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Read More </a> 
            
            </div>
    end slide 2
     -->
    <!-- slide 3
    <div class="ms-slide slide-3" data-delay="9">
      <div class="slide-pattern"></div>
      
      <img src="static/js/masterslider/blank.gif" data-src="http://placehold.it/1920x660" alt=""/>
      
      <h3 class="ms-layer text34"
			style="top: 210px;"
			data-type="text"
			data-delay="500"
			data-ease="easeOutExpo"
			data-duration="1230"
			data-effect="scale(1.5,1.6)"> find the property of your dreams</h3>
            
      <h3 class="ms-layer text6"
        	style="top: 260px;"
            data-type="text"
            data-effect="top(45)"
            data-duration="2000"
            data-delay="1500"
            data-ease="easeOutExpo"> Lorem ipsum dolor sit amet consectetuer adipiscing elit<br/>
        Suspendisse et justo 
        Praesent mattis commodo augue Aliquam ornare. </h3>
        
      <a class="ms-layer sbut13"
			style="left: 730px; top: 340px;"
			data-type="text"
			data-delay="2000"
			data-ease="easeOutExpo"
			data-duration="1200"
			data-effect="scale(1.5,1.6)"> Read More </a> 
            
            </div> -->
    <!-- end slide 3 -->

    <!-- </div> -->
    <!-- end of masterslider-->
    <div class="clearfix"></div>
    <!--<section class="property-search">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <label>Keyword</label>
          <br/>
          <input type="text" placeholder="Any" value="" name="keyword">
        </div>
        
        <div class="col-md-3 col-sm-6">
          <label>Location</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > consectetur </option>
            <option value="" > Suspendisse </option>
          </select>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <label>Property Type</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > Commercial </option>
            <option value="" > Office </option>
            <option value="" > Rent </option>
            <option value="" > Residential </option>
            <option value="" > Apartment</option>
            <option value="" > Villa </option>
          </select>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <label>Property Status</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > For Rent </option>
            <option value="" > For Sale </option>
          </select>
        </div>
        
        <div class="clearfix"></div>
        <div class="col-divider-margin-1"></div>
        <div class="col-md-2 col-sm-6">
          <label>Bedrooms</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > 1 </option>
            <option value="" > 2 </option>
            <option value="" > 3 </option>
            <option value="" > 4 </option>
          </select>
        </div>
        
        <div class="col-md-2 col-sm-6">
          <label>Min Baths</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > 1 </option>
            <option value="" > 2 </option>
            <option value="" > 3 </option>
            <option value="" > 4 </option>
          </select>
        </div>
        
        <div class="col-md-2 col-sm-6">
          <label>Minimum Price</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > $1000 </option>
            <option value="" > $5000 </option>
            <option value="" > $10,000 </option>
            <option value="" > $15,000 </option>
            <option value="" > $20,000 </option>
            <option value="" > $25,000 </option>
            <option value="" > $30,000 </option>
            <option value="" > $35,000 </option>
          </select>
        </div>
        
        <div class="col-md-2 col-sm-6">
          <label>Maximum Price</label>
          <select>
            <option value="" selected="selected"> Any </option>
            <option value="" > $1000 </option>
            <option value="" > $5000 </option>
            <option value="" > $10,000 </option>
            <option value="" > $15,000 </option>
            <option value="" > $20,000 </option>
            <option value="" > $25,000 </option>
            <option value="" > $30,000 </option>
            <option value="" > $35,000 </option>
          </select>
        </div>
        
        <div class="col-md-2 col-sm-6">
          <label>Area (Sq Ft)</label>
          <br/>
          <input type="text" value="" name="Area">
        </div>
        
        <div class="col-md-2 col-sm-6"> <br/>
          <input class="search-btn" type="submit" value="Search">
        </div>
        
      </div>
    </div>
  </section>
   -->
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="sec-padding property-search">
      <div class="container">
        <div class="col-xs-12 text-center">
          <h3 class="uppercase font-weight-5" style="color: white;">Login using these premade accounts </h3>
          <div class="title-line-4 white align-center"></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box-65 bmargin" style="color: white;">
              <div class="iconbox-xtiny left round" style="color: white; border-color: white;"><i
                  class="fa fa-lock"></i></div>
              <div class="text-box-right">
                <h5 class="uppercase font-weight-4" style="color: white;">Admin access</h5>
                <p> Full access to do take and monitor all actions in the app</p>
                <div class="clearfix"></div>
                <div class="text-left">
                  <h5 class="font-weight-4" style="color: white;">oussamabonnor@gmail.com</h5>
                  <h5 class="font-weight-4" style="color: white;">pswd: Capstone2020</h5>
                </div>
              </div>
            </div>

          </div>
          <!--end item-->

          <div class="col-md-4">
            <div class="feature-box-65 bmargin" style="color: white;">
              <div class="iconbox-xtiny left round" style="color: white; border-color: white;"><i
                  class="fa fa-user-secret"></i></div>
              <div class="text-box-right">
                <h5 class="uppercase font-weight-4" style="color: white;">Manager access</h5>
                <p> Full access with restriction (can't delete entities)</p>
                <div class="clearfix"></div>
                <div class="text-left">
                  <h5 class="font-weight-4" style="color: white;">jetlightstudio@gmail.com</h5>
                  <h5 class="font-weight-4" style="color: white;">pswd: Capstone2020</h5>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->

          <div class="col-md-4">
            <div class="feature-box-65 bmargin" style="color: white;">
              <div class="iconbox-xtiny left round" style="color: white; border-color: white;"><i
                  class="fa fa-user"></i></div>
              <div class="text-box-right">
                <h5 class="uppercase font-weight-4" style="color: white;">User access</h5>
                <p> Can browse the app and see it's content (Read Only)</p>
                <div class="clearfix"></div>
                <div class="text-left">
                  <h5 class="font-weight-4" style="color: white;">zakibonnor@gmail.com</h5>
                  <h5 class="font-weight-4" style="color: white;">pswd: Capstone2020</h5>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
        </div>
      </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class=" sec-padding section-light">
      <div class="container">
        <div class="row slide-nextprev-but-1">
          <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5">RECENT PROPERTIES </h3>
            <div class="title-line-4 green align-center"></div>
          </div>
          <div class="clearfix"></div>
          
            {%if 'houses' in data%}
            {%for house in data.houses%}
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="properties-details/{{house.id}}">
                    <div class="status">Available</div>
                    <img src="http://placehold.it/390x230" alt="" class="img-responsive" />
                  </a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="properties-details/{{house.id}}">{{house.name}}</a></h5>
                  <div class="clearfix"></div>
                  <br />
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> {{house.rooms}} rooms</span></div>
                    <div class="pull-right"><span><i class="fa fa-usd"></i> {{house.price}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
            {%else%}
            <div class="container">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-1"><img src="/static/js/owl-carousel/AjaxLoader.gif" alt="" /></div>
                <div class="col-md-5"></div>
              </div>
            </div>
            {%endif%}
            <!-- <div class="item">
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
           
            
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="item">
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-4 col-sm-6">
              <div class="feature-box-66">
                <div class="image-holder"> <a href="#">
                  <div class="status">For Rent</div>
                  <div class="price">$ 11,000 <span>/ Month</span></div>
                  <img src="http://placehold.it/390x230" alt="" class="img-responsive"/></a> </div>
                <div class="text-box-inner">
                  <h5 class="less-mar1"><a href="#">268 Green Hills Lane</a></h5>
                  <span>New York City</span>
                  <div class="clearfix"></div>
                  <br/>
                  <div class="property-info">
                    <div class="pull-left"><span><i class="fa fa-bed"></i> 100 ft2</span></div>
                    <div class="pull-right"><span><i class="fa fa-tasks"></i> 100 ft2</span> <span><i class="fa fa-car"></i> 100 ft2</span></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div> -->
          </div>
      </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="section-green-2 section-less-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3 class="less-mar3 uppercase text-white">Warning, this is an alfa version app</h3>
            <div class="clearfix"></div>
            <h5 class="text-white">This project is my very first attempt at creating a full web site (front/back) on my
              own. If it breaks, kindly contact me and i ll do my best to fix it!</h5>
          </div>
          <div class="col-md-3">
            <div class="margin-top2"></div>
            <a class="btn btn-border white-2 btn-large pull-right" href="mailto:oussamabonnor@gmail.com">Contact me</a>
          </div>
        </div>
      </div>
    </section>

    <section class="sec-padding section-light">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h3 class="uppercase font-weight-5">Meet Our Agents</h3>
            <div class="title-line-4 green align-center"></div>
          </div>
          <div class="clearfix"></div>
          {%if 'agents' in data%}
          {%for agent in data.agents%}
          <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
            <div class="team-holder13 bmargin">
              <div class="img-holder">
                <div class="icon-box text-center">
                  <ul class="social-icons-1">
                    <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
              <div class="content-box less-pading text-center">
                <h5 class="nomargin title"><a href="agents-details/{{agent.id}}">{{agent.name}}</a></h5>
                <h6 class="text-green-3 nopadding">{{agent.age}} years old</h6>
                <br/>
                <p>Some description to be added later and stuff</p>
              </div>
            </div>
          </div>
          <!--end item-->
          {%endfor%}
          {%else%}
          <div class="container">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-1"><img src="/static/js/owl-carousel/AjaxLoader.gif" alt="" /></div>
              <div class="col-md-5"></div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="section-fulldark sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3 clearfix">
            <div class="item-holder">
              <h4 class="uppercase footer-title less-mar3">Recent Posts</h4>
              <div class="footer-title-bottomstrip"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt="" /></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 oswald nopadding"><a href="#">Clean And Modern</a></h6>
                <p>Lorem ipsum dolor sit</p>
                <div class="footer-post-info"> <span>By John Doe</span><span>May 19</span> </div>
              </div>
              <div class="divider-line solid dark opacity-4  margin"></div>
              <div class="clearfix"></div>
              <div class="image-left"><img src="http://placehold.it/80x80" alt="" /></div>
              <div class="text-box-right">
                <h6 class="text-white less-mar3 oswald"><a href="#">Layered PSD Files</a></h6>
                <p>Lorem ipsum dolor sit</p>
                <div class="footer-post-info"> <span>By John Doe</span><span>May 19</span> </div>
              </div>
            </div>
          </div>
          <!--end item-->

          <div class="col-md-3 clearfix">
            <h4 class="uppercase footer-title less-mar3">quick links</h4>
            <div class="clearfix"></div>
            <div class="footer-title-bottomstrip"></div>
            <ul class="usefull-links">
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Ullamcorper odio nec turpis</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Aliquam porttitor vestibulum ipsum</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Lobortis enim nec nisi</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Placerat bibendum</a></li>
            </ul>
          </div>
          <!--end item-->

          <div class="col-md-3 clearfix">
            <div class="item-holder">
              <h4 class="uppercase footer-title less-mar3">Newsletter</h4>
              <div class="clearfix"></div>
              <div class="footer-title-bottomstrip"></div>
              <div class="newsletter">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit sit et justo amet. Suspendisse et justo.</p>
                <br />
                <form method="get" action="/">
                  <input class="email_input dark" name="samplees" id="samplees" value="E-mail Address"
                    onFocus="if(this.value == 'E-mail Address') {this.value = '';}"
                    onBlur="if (this.value == '') {this.value = 'E-mail Address';}" type="text">
                  <input name="submit" value="Go" class="input_submit dark" type="submit" />
                </form>
              </div>
              <div class="margin-top3"></div>
              <ul class="social-icons-3 dark-2">
                <li><a class="twitter" href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!--end item-->

          <div class="col-md-3 clearfix">
            <div class="item-holder">
              <h4 class="uppercase footer-title less-mar3">Flicke Feed</h4>
              <div class="clearfix"></div>
              <div class="footer-title-bottomstrip"></div>
              <ul id="basicuse" class="thumbs">
              </ul>
            </div>
          </div>

          <!--end item-->

        </div>
      </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="section-copyrights sec-moreless-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> <span>Copyright © 2019 <a
                href="https://1.envato.market/hasta-html-by-codelayers">hasta</a> By <a
                href="https://1.envato.market/codelayers">Codelayers</a> | All rights reserved.</span></div>
        </div>
      </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <a href="#" class="scrollup green-3"></a><!-- end scroll to top of the page-->
  </div>
  <!-- end site wraper -->

  <!-- ============ JS FILES ============ -->
  <script type="text/javascript" src="static/js/universal/jquery.js"></script>
  <script type="text/javascript" src="static/js/universal/jquery.js"></script>
  <script src="static/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
  <script src="static/js/jFlickrFeed/jflickrfeed.min.js"></script>
  <script src="static/js/jFlickrFeed/jquery.cycle.all.min.js"></script>
  <script src="static/js/masterslider/jquery.easing.min.js"></script>
  <script src="static/js/masterslider/masterslider.min.js"></script>
  <script type="text/javascript">
    (function ($) {
      "use strict";
      var slider = new MasterSlider();
      // adds Arrows navigation control to the slider.
      slider.control('arrows');
      slider.control('bullets');

      slider.setup('masterslider', {
        width: 1600,    // slider standard width
        height: 660,   // slider standard height
        space: 0,
        speed: 45,
        layout: 'fullwidth',
        loop: true,
        preload: 0,
        autoplay: true,
        view: "parallaxMask"
      });

    })(jQuery);
  </script>
  <script>
    $('#basicuse').jflickrfeed({
      limit: 6,
      qstrings: {
        id: '133294431@N08'
      },
      itemTemplate:
        '<li>' +
        '<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a>' +
        '</li>'
    });
  </script>
  <script src="/static/js/mainmenu/customeUI.js"></script>
  <script src="/static/js/owl-carousel/owl.carousel.js"></script>
  <script src="/static/js/owl-carousel/custom.js"></script>
  <script src="/static/js/tabs/assets/js/responsive-tabs.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/tabs/smk-accordion.js"></script>
  <script type="text/javascript" src="/static/js/tabs/custom.js">
  </script>
  <script src="/static/js/scrolltotop/totop.js"></script>
  <script src="/static/js/mainmenu/jquery.sticky.js"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
  <script src="/static/js/mine.js"></script>
  <script src="/static/js/scripts/functions.js" type="text/javascript"></script>

</body>

</html>